**.swp
**.brig
**.hsail
**.o
*.jl.cov
*.jl.*.cov
*.jl.mem

docs/build
docs/Manifest.toml
docs/package-lock.json
docs/node_modules
Manifest*.toml
LocalPreferences.toml

test/gpuarrays_generated_tests.jl
